body{font-family:"Microsoft Yahei";overflow-x:hidden}
.color-line{width:100%;height:10px;position:fixed;top:0;z-index:9;background-color:#24abeb}.color-line .one,.color-line .two,.color-line .three{height:10px;display:inline-block;vertical-align:top}
.color-line .one{width:110px;background-color:#ff5500}
.color-line .two{width:170px;background-color:#333}
.container-fluid{padding:0;padding-right:70px}
.mb-sidebar h1{margin:0;padding:0;text-indent:10px;position:fixed;top:10px;background-color:#24ABEB;height:90px;width:280px;line-height:90px;font-weight:600;color:#fff}
.mb-sidebar h1 a {color: white}
.mb-sidebar .nav{margin-top:100px;background-color:#24ABEB;height:1680px;width:280px;padding:0}.mb-sidebar .nav li{height:45px;line-height:45px;border-bottom:1px solid #3bbaf7}.mb-sidebar .nav li:last-child{border:none}
.mb-sidebar .nav li a{display:block;height:45px;font-size:18px;color:#fff;margin:0;padding:0 15px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-shadow:none}.mb-sidebar .nav li a:hover{background-color:#1F8FC4}
.mb-sidebar .nav li.active a{background-color:#1F8FC4}
.mb-sidebar .nav-toggle{display:block;position:fixed;top:320px;width:16px;height:85px;margin-left:264px;background:url('../images/toggle.png');z-index:99}
.toggle-bar {cursor: pointer;}
.mb-sidebar-mini{position:fixed;left:0;top:10px;height:100%;width:0;background-color:#24ABEB;z-index:50;-webkit-box-shadow:10px 0 10px 0 rgba(0,0,0,0.1);box-shadow:10px 0 10px 0 rgba(0,0,0,0.1);overflow:hidden}.mb-sidebar-mini .nav-toggle{display:block;position:absolute;top:320px;left:10px;width:16px;height:85px;background:url('../images/toggle.png') no-repeat -16px 0;z-index:99}
.mb-content{margin-top:55px;color:#555}.mb-content .common-link{position:fixed;right:0;top:10px;width:365px;height:40px}.mb-content .common-link a{display:inline-block;height:40px;line-height:40px;text-align:center;color:#fff;text-decoration:none;font-size:16px}
.mb-content .common-link a {float: right;}
.mb-content .common-link .source{width:100px;background-color:#f50}
.mb-content .common-link .home{width:148px;background-color:#333}
.mb-content .common-link .demo{width:100px;background-color:#fa681f}
.mb-content h1{display:none}
.mb-content h1.title{display:block;float:left;font-size:40px;font-weight:500;color:#333}.mb-content h1.title:first-letter{text-transform:uppercase}
.mb-content hr{display:none}
.mb-content hr.title-hr{display:block;width:100%;margin-top:30px;border-bottom:none;border-top:4px solid #e5e5e5}
.mb-content h2{font-size:24px;color:#317eac;margin-bottom:20px;padding-bottom:10px;border-bottom:1px solid #eee}
.mb-content .alert{margin:20px 0;padding:10px 35px 10px 14px;color:#817B58;background-color:#EDEBE1;border-color:#E0D9CB}
.mb-content h3{font-size:18px;color:#317eac}
.mb-content h4{font-size:14px;color:#317eac}
.mb-content li{line-height:28px}
.mb-content hr{margin:10px 0 20px;border-bottom:none;border-top:1px solid #ccc}
.mb-content pre.prettyprint{padding:8px 10px;border:1px solid #ccc}
.mb-content table{width:auto}.mb-content table th,.mb-content table td{padding:6px 13px}
.mb-content .GithubEmbed{position:relative;margin-bottom:40px;min-height:40px}.mb-content .GithubEmbed a.btn{position:absolute;bottom:7px;right:100px}
@media (min-width:1200px){}@media (min-width:980px) and (max-width:1199px){.mb-sidebar h1{width:226px} .mb-sidebar .nav{width:226px} .mb-sidebar .nav-toggle{margin-left:210px}}@media (min-width:768px) and (max-width:979px){.mb-sidebar h1{width:166px} .mb-sidebar .nav{width:166px} .mb-sidebar .nav-toggle{margin-left:150px}}@media (max-width:767px){body{padding:0} .container-fluid{padding-left:20px;padding-right:20px}.container-fluid .mb-sidebar{display:none} .container-fluid .mb-content{width:95%}}
