/* Elements */
* 
{
	margin:0;
	padding:0;
}
body {
	font: 13px "Helvetica Neue", Helvetica, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei",sans-serif;
	line-height: 1.5em;
	color: #000;
	line-height: 30px;
	color: #222;
	background: #e5e5e5;	
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight:normal;
	color: #777;	
}

p, blockquote, ul, ol {
	margin-top: 0;
	padding-top: 0;
	margin-bottom:0.5em;
}
p 
{
	line-height:1.7em;
	font-size: 1.1em;
	margin-bottom: 0.9em;
}


pre {
	font-size:1.5em;
}

a:link, a:visited {
	color: #000;
	text-decoration:none;
	border-bottom:#ef0050 1px dotted;
}
a:hover,a:active 
{
	color:#ef0050;
	text-decoration:none;
}
img.left 
{
	float:left;
	margin:0 1em 1em 0;
}
img.right 
{
	float:right;
	margin:0 0 1em 1em;
}
a img 
{
	border:0;
}
blockquote 
{
	border-left: 5px solid #ddd;
}
fieldset 
{
	border:none;
}

dl {
	margin:1em 0px;
}
dt 
{
	font-weight:bold;
}
dd 
{
	margin:0.5em 1em;
	padding:0;
}
code
{
	font-size: 1em;	
}

#header, #content, #footer {
	width: 880px;
	margin: 20px auto;
}

blockquote, pre
{
	width: 100%;
	word-wrap: normal;
	margin: 10px 0 10px -25px;
	padding: .2em 20px .2em 20px;
	position: relative;
	overflow: auto;
	font-size: 1em;
	line-height: 20px;
	background: #F5F5F5;
}

/* Header */

#header {
	height: 50px;
}

/* Menu */
#menu {
	width: 723px;
	margin:0 auto;
	padding-top:40px;
	min-height:75px;
	line-height:20px;
	overflow:auto;
}

#menu ul {
	margin:0;
	padding:0px 110px 0px 0;
	list-style: none;
	text-align:right;
	float:right;
	font-variant:small-caps;
	display: inline;
}

#menu li {
	display: inline;
}

#menu a 
{
	padding:3px 0px 3px 10px ;
	text-decoration: none;
	font-size: 1em;
	border:0;
	color:#999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#menu a:hover, 
#menu a:active,
#menu li.current_page_item a:link,
#menu li.current_page_item a:visited,
#menu li.current_page_item a:hover,
#menu li.current_page_item a:active
{
	color:#999;
	border:0;
}

/* Main */

#content {
	padding: 20px;
	background:#fff;
	border:#ddd 1px solid;
	/*box-shadow: 0 0 30px #ddd;*/
}

#content h2 {
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-top: 20px;
	font-weight: bold;
}

#content h1 {
	padding: 4px;
	font-size: 2em;		
	line-height:1.2em;
}

#content h3 {
	padding: 4px;
	font-size: 1.4em;		
	line-height:1.2em;
	font-weight: bold;
}
#content h1 a 
{
	border:0;
	font-family:Georgia,serif;
	font-size:1.1em;
	font-weight:normal;
	color:#999;
}
#content h1 a:hover {
	color:#ef0050;
}
#content h2 a 
{
	border:0;
	font-family:Georgia,serif;
	font-size:1.1em;
	font-weight:normal;
	color:#999;
}
#content ul {
	margin: 0.5em 0;
	padding: 0 0 0 2em;
}
#content ul li 
{
	margin:0.75em 0;
	padding:0;
	line-height:130%;
	font-size:16px;	
}
#content ol 
{
	margin:0;
	padding:0 0 0 3px;
}
#content ol li 
{
  margin-left:30px;
  padding:3px;
  font-size:16px;
}
#content .post 
{
	margin-bottom:1.5em;
	border-bottom: #ccc 1px dotted;
	margin: -20px -20px 20px -20px;
	padding: 20px;
}
#content .post:hover
{
	background-color: #F5F5F5;
}
#content .header {
	background-color: #F5F5F5;
	box-shadow: 0 1px 0 #e0e0e0;
	margin: -20px -20px 20px -20px;
	padding: 20px;
}
#content .entry 
{
  clear:both;
	padding-bottom: 20px;
}

#content .entry p
{
	font-size: 15px;
	margin-top: 1em;
	line-height: 180%;
}
#content .entry p a
{
	padding-top:40px;
	font-size:16px;
}
#content .entry p code, li code {
	background: #eee;
	color: #666;
	padding: 0 5px;
	margin: 0 2px;
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}


.post .date {
	float: right;
	margin:5px 0 0 5px;
	padding:0 10px;
	text-align:center;
	font-size: 0.8em;
	border:#ccc 1px solid;
	font-weight:bold;
	color:#556677;
}
.post .date span 
{
	display:block;
}
.post .date .day 
{
	font-size:1.6em;
}
.post .meta {
	margin-bottom: 10px;
	padding-left: 5px;
	font-size: 0.9em;
	color:#999;
}
/* Footer */

#footer {
	text-align: center;
	margin: 0 auto 20px;
}

/* Code */

pre {
	border-left: 5px solid #6ce26c;
}
pre figcaption {
  color: #999;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
pre figcaption a {
  position: absolute;
  right: 15px;
}
pre pre {
  border: none;
  padding: 0;
  margin: 0;
}
pre table {
  margin-top: 0;
  border-spacing: 0;
}
pre .gutter {
  color: #999;
  padding-right: 15px;
  border-right: 1px solid #ddd;
  text-align: right;
}
pre .code {
  padding-left: 15px;
  border-left: 1px solid #fff;
  color: #666;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}