<% posts.forEach(function(post) { %>
  <div class="post">
    <h1 class="title">
      <a href="/<%= post.url %>"><%= post.title %></a>
    </h1>
    <div class="meta"><%= post.create %></div>
    <div class="abstract"><%= post.abstract %></div>
  </div>
<% }) %>

<div id="pager">
<% if (currentPage == 1) { %>
  <a href="/home/page/<%= currentPage + 1%>">下一页 →</a>
<% } else if (currentPage == totalPage) { %>
  <a href="/home/page/<%= currentPage - 1%>">← 上一页</a>
<% } else { %>
  <a href="/home/page/<%= currentPage - 1%>">← 上一页</a>
  <span>第 <%= currentPage %> 页</span>
  <a href="/home/page/<%= currentPage + 1%>">下一页 →</a>
<% } %>
</div>