return {
    -- mysql配置
    mysql = {
        timeout = 5000,
        connect_config = {
            host = "127.0.0.1",
            port = 3306,
            database = "marked_blog",
            user = "your mysql username",
            password = "your mysql password",
            max_packet_size = 1024 * 1024
        },
        pool_config = {
            max_idle_timeout = 20000, -- 20s
            pool_size = 50
        }
    }
}