doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/admin/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/admin/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/admin/css/style.css')
    link(rel='stylesheet', href='/admin/css/messenger.css')
    link(rel='stylesheet', href='/admin/css/messenger-theme-future.css')
    script(type="text/javascript", src="/admin/js/jquery-1.10.1.min.js")
    script(type="text/javascript", src="/admin/js/messenger.min.js")
    script(type="text/javascript", src="/admin/bootstrap/js/bootstrap.min.js")
    block header
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          button.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="#") Marked Blog
          div.nav-collapse.collapse
            p.navbar-text.pull-right
              a.navbar-link= User
            ul.nav
              li.active
                a(href="#") Home
              li
                a(href="#") About

    div.container-fluid
      div.row-fluid
        div.span2
          div.well.sidebar-nav
            ul.nav.nav-list
              li.nav-header 管理
              li.active
                a(href="#") 文章
              li
                a(href="#") 分类
              li
                a(href="#") 标签
              li.nav-header 设置
              li.divider
              li
                a(href="#") 其他
        div.span10
          block content
      hr
      footer
        p &copy; Marked-blog 2013

  script(type="text/javascript")
    $._messengerDefaults = {
      extraClasses: 'messenger-fixed messenger-theme-future messenger-on-top'
    }
    $(document).ajaxError(function (event, xhr, ajaxSettings, thrownError) {
      $.globalMessenger().post(JSON.parse(xhr.responseText).msg);
    });
