doctype 5
html
  head
    title Marked Blog
    link(rel='stylesheet', href='/admin/bootstrap/css/bootstrap.css') 
    link(rel='stylesheet', href='/admin/css/login.css') 
  body
    div.container
      form.form-signin(method="post")
        h2.form-signin-heading #{__('loginInfo')}
        input.input-block-level(type="text", placeholder="#{__('userName')}", name="user")
        input.input-block-level(type="password", placeholder="#{__('password')}", name="password")
        button.btn.btn-large.btn-primary(type="submit") #{__('login')}

