<html>
<head>
  <title>Marked Blog</title>
  <link rel="stylesheet" href="{{admin_url}}/bootstrap/css/bootstrap.css"/>
  <link rel="stylesheet" href="{{admin_url}}/css/login.css"/>
</head>
<body>
  <div id="container">
    <form class="form-signin" method="post">
      <h2 class="form-signin-heading"></h2>
      <input class="input-block-level" type="text" placeholder="#{__('userName')}" name="user"/>
      <input class="input-block-level" type="password" placeholder="#{__('userName')}" name="password"/>
      <p>
        <button class="btn btn-large btn-primary" type="submit"/>
      </p>
      {% if msg %}
        <div class="alert alert-error">{{ msg }}</div>
      {% endif %}
    </form>
  </div>
</body>
</html>
