extends layout

block content
  article.post
    div.post-content
      header
        div.icon
        h1.title= title

      div.entry
        p(style='text-align:center;') 
          img(src='/images/404.jpg')