extends layout

block header
  meta(name='description', content='#{abstract}')

block content
  article.post
    div.post-content
      header
        div.icon
        time(datetime='#{create_date}')
          a(href='/#{url}')= create
        h1.title= title

      div.entry !{html}

  footer
    div.categories
    div.tags
    div.clearfix

  section#comment
    h1.title 评论
    // 使用的有言评论插件
    div#uyan_frame
    script#UYScript(type="text/javascript", src="http://v1.uyan.cc/js/iframe.js?UYUserId=1715390", async="")

  nav#pagination
    if prev
      a.alignleft.prev(href='/#{prev.url}')= prev.title
    if next
      a.alignright.next(href='/#{next.url}')= next.title

block footer
  script(src="/js/jquery.imagesloaded.min.js")
  script(src="/js/gallery.js")
  link(rel="stylesheet", href="/fancybox/jquery.fancybox.css", media="screen", type="text/css")
  script(src="/fancybox/jquery.fancybox.pack.js")
  script.
    (function($){
      $('.fancybox').fancybox();
    })(jQuery);
