<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
    <meta name="author" content="翟士丹,Stan Zhai"/>
    <meta name="keywords" content="翟士丹,Stan Zhai,StanZhai" />
    <meta name="description" content="翟士丹的技术博客，爱编码，爱生活，有梦想，不抱怨。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
    <title><% if (title) { %><%= title + ' - ' + siteName %><% } else { %><%= siteName %><% } %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
  <body>
    <header>
      <div>
        <div id="imglogo">
          <a href="/"><img src="/img/logo.png" alt="<%= siteName %>" title="<%= siteName %>"></a>
        </div>
        
        <div id="textlogo">
          <h1 class="site-name"><a href="/" title="<%= siteName %>"><%= siteName %></a></h1>
          <h2 class="blog-motto"><%= subTitle %></h2>
        </div>
        <div class="navbar"><a class="navbutton navmobile" href="#" title="菜单">
        </a></div>
        <nav class="animated">
          <ul>
            <ul>
              <li><a href="/">首页</a></li>
              <li><a href="/archives">归档</a></li>
              <li><a href="/about">关于</a></li>
            <li>
            
            <form class="search" action="/search/index.html" method="get" accept-charset="utf-8">
              <label>Search</label>
              <input type="search" id="search" autocomplete="off" name="q" maxlength="20" placeholder="Search">
            </form>
            </li>
          </ul>
        </ul></nav>     
      </div>
    </header>
    <div id="container">
      <%- body %>
      <div id="asidepart">
        <div class="closeaside">
          <a class="closebutton" href="#" title="隐藏侧边栏">
          </a>
        </div>
        <aside class="clearfix">
          <div class="categorieslist">
            <p class="asidetitle">
              分类
            </p>
            <ul>
              <li>
                <a href="#">
                  Test 
                  <sup>
                    4
                  </sup>
                </a>
              </li>
            </ul>
          </div>
          <div class="tagslist">
            <p class="asidetitle">
              标签
            </p>
            <ul class="clearfix">
              <li>
                <a href="#">
                  Test
                  <sup>
                    5
                  </sup>
                </a>
              </li>
            </ul>
          </div>
          <div class="linkslist">
            <p class="asidetitle">
              友情链接
            </p>
            <ul>
              <li>
                <a href="http://www.cnblogs.com/jasondan" target="_blank">
                  博客园
                </a>
              </li>
            </ul>
          </div>
          <div class="rsspart">
            <a href="/atom.xml" target="_blank" title="rss">
              RSS 订阅
            </a>
          </div>
        </aside>
      </div>
    </div>
    <footer>
      <div id="footer">
  
        <div class="line">
          <span></span>
          <div class="author"></div>
        </div>
        
        
        <section class="info">
          <p> Hello,I'm Stan Zhai. <br>
            I'll share my learning experience with you at this blog.</p>
        </section>
         
        <div class="social-font">
          <a href="https://github.com/stanzhai" target="_blank" class="icon-github" title="github"></a>
        </div>
          <p class="copyright">Powered by <a href="https://github.com/stanzhai/marked-blog" target="_blank" title="hexo">marked-blog</a> and Theme by <a href="https://github.com/wuchong/jacman" target="_blank" title="Pacman">Jacman</a> © 2014 
          
          <a href="http://blog.zhaishidan.cn/about" target="_blank" title="<%= author %>"><%= author %></a>
          
          </p>
      </div>
    </footer>
  </body>
</html>


