<div id="main" class="post" itemscope itemprop="blogPost">
  <article itemprop="articleBody">
    <header class="article-info clearfix">
      <h1 itemprop="name">
        <a href="#" title="<%= title %>" itemprop="url"><%= title %></a>
      </h1>
      <p class="article-time">
        <time datetime="2014-07-18T23:p36:37.000Z" itemprop="datePublished">
          发表于 <%= create %>
        </time>
      </p>
    </header>
    <div class="article-content">
      <%- html %>
    </div>
    <footer class="article-footer clearfix">
      <div class="article-catetags">
        <div class="article-categories">
          <span>
          </span>
          <a class="article-category-link" href="/categories/Linux-Unix/">
            Linux/Unix
          </a>
        </div>
        <div class="article-tags">
          <span>
          </span>
          <a href="/tags/Linux基础/">
            Linux基础
          </a>
          <a href="/tags/文件系统/">
            文件系统
          </a>
        </div>
      </div>
      <div class="article-share" id="share">
        <div data-url="http://wuchong.me/blog/2014/07/19/linux-file-system/" data-title="Linux基础：文件系统 | Jark's Blog"
        data-tsina="2176287895" class="share clearfix">
          <a href="#" class="overlay" id="qrcode">
          </a>
          <div class="qrcode clearfix">
            <span>
              扫描二维码分享到微信朋友圈
            </span>
            <a class="qrclose" href="#share">
            </a>
            <strong>
              Loading...Please wait
            </strong>
            <img id="qrcode-pic" data-src="http://s.jiathis.com/qrcode.php?url=http%3A%2F%2Fwuchong.me%2Fblog%2F2014%2F07%2F19%2Flinux-file-system%2F">
          </div>
          <a href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwuchong.me%2Fblog%2F2014%2F07%2F19%2Flinux-file-system%2F"
          class="article-share-facebook" target="_blank" title="Facebook">
          </a>
          <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwuchong.me%2Fblog%2F2014%2F07%2F19%2Flinux-file-system%2F"
          class="article-share-twitter" target="_blank" title="Twitter">
          </a>
          <a href="#qrcode" class="article-share-qrcode" title="QRcode">
          </a>
          <a href="http://widget.renren.com/dialog/share?resourceUrl=http%3A%2F%2Fwuchong.me%2Fblog%2F2014%2F07%2F19%2Flinux-file-system%2F&amp;srcUrl=http%3A%2F%2Fwuchong.me%2Fblog%2F2014%2F07%2F19%2Flinux-file-system%2F&amp;title=Linux基础：文件系统 | Jark's Blog"
          class="article-share-renren" target="_blank" title="人人">
          </a>
          <a href="http://service.weibo.com/share/share.php?title=Linux基础：文件系统 | Jark's Blog&amp;url=http%3A%2F%2Fwuchong.me%2Fblog%2F2014%2F07%2F19%2Flinux-file-system%2F&amp;ralateUid=2176287895&amp;searchPic=true&amp;style=number"
          class="article-share-weibo" target="_blank" title="Weibo">
          </a>
          <span title="Share to">
          </span>
        </div>
      </div>
    </footer>
  </article>
</div>